.btn{
    width: 50px;
    background-color: purple;
    color: white;
    border-radius: 24px;
}
.btn:hover{
    cursor: pointer;
    width: 50px;
    background-color: yellow;
    color: black;
    border-radius: 24px;
}